ul { list-style-type:none; }

.container {
    text-align: center;
    height: 92px;

}

.panel {
  list-style: none;
  float: right;
}

.panel li {
  display: inline;
  font-size: 15px;

}

.panel ul {
  margin-top: 4px;
  padding: 5px;

}

.panel a {
  color: rgba(0,0,0,.87);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13.5px;
}

.panel a:hover {
  text-decoration: underline;
}

.panelli {
  border-radius: 30px;
  margin-bottom: -9px;
}

.panelli:hover {
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}


.panelli2:hover {
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}


.imglogo {
    margin-top: 200px;
    margin-left: 200px;
}
  
.search-area {
    background: #fff;
    display: flex;
    flex: 100%;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    height: 37px;
    border-radius: 25px;
    width: 584px;
    margin-top: 230px;
    margin-left: 430px;
    padding-top: 6px;
    -webkit-tap-highlight-color: transparent;
    
}
  
.search-area:hover {
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}
  
.search {
    flex: 1;
    display: flex;
    padding-left: 14px;
}
  
.search-img {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}
  
.search-img span {
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    margin-top: 0px;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
}
  
.input-enter {
    display: flex;
    flex: 1%;
    flex-wrap: wrap;
    color: transparent;
    border: none;
    outline: none;

}
  
.input-area {
    color: transparent;
    flex: 100%;
    white-space: pre;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
    display: block;

    
}
  
.input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -58px;
}

.goxjub {
  height: 24px;
  width: 24px;
  vertical-align: middle;
  margin-left: 530px;
  margin-top: -60px;
}


#search {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin-top: 30px;
}

#search:hover {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24), 0 1px 1px 0 rgba(0,0,0,0.19);
}

.buttons {
  text-align: center;
  margin-bottom: 20px;
}

.line {

  display: inline;
  margin-left: 650px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,.87);

}

.line2 {
  text-decoration: none;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.line2:hover {
  text-decoration: underline;
}

  
.footer {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #dfe1e5;
    border-top: 1px solid #dadce0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -8px;
    line-height: 10px;
}

.footerli {
    float: left;
}
  
.footerli a {
    display: block;
    color: #70757a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin-left: 14px;
    margin-right: -20px;
}
  
.footerli a:hover {
    text-decoration: underline;
}